.fade_up{
    opacity: 0;
    transition: all 0.9s;
}
.fade_down{
    opacity: 0;
    transition: all 0.9s;
}
.fade_right{
    opacity: 0;
    transition: all 0.9s;
}
.fade_left{
    opacity: 0;
    transition: all 0.9s;
}

.transform_up{
    transform: translateY(50px);
}
.transform_down{
    transform: translateY(-50px);
}
.transform_left{
    transform: translateX(20px);
}
.transform_right{
    transform: translateX(-20px);
}

.aparece{
    opacity: 1;
    transform: none;
}